data/sample_file_1.csv
data/sample_file_2.csv
data/sample_file_3.csv
data/sample_file_4.csv
data/sample_file_5.csv
data/sample_file_6.csv
data/sample_file_7.csv
data/sample_file_8.csv
data/sample_file_9.csv
Pictures/~$Performance and graphs.xlsx
Pictures/2560px-Mexican_Standoff.jpg
Pictures/Apache_Spark_logo.jpg
Pictures/Apache-Spark.jpg
Pictures/dask.png
Pictures/kaolas.png
Pictures/modin.png
Pictures/pandas_logo copy 2.jpg
Pictures/pandas_logo copy.png
Pictures/pandas_logo.png
Pictures/Performance and graphs.xlsx
Pictures/Screen Shot 2019-11-29 at 6.57.14 AM.png
Pictures/Screen Shot 2019-11-29 at 7.01.30 AM.png
Pictures/Screen Shot 2019-11-29 at 7.36.42 AM.png
Pictures/Screen Shot 2019-11-29 at 7.41.33 AM.png
Pictures/Screen Shot 2019-11-29 at 10.55.40 AM.png
Pictures/Screen Shot 2019-11-29 at 12.32.44 PM.png
Pictures/Screen Shot 2019-11-29 at 12.34.38 PM.png
Pictures/standoff.jpg
Pictures/.DS_Store
dask-worker-space/global.lock
dask-worker-space/purge.lock
dask-worker-space/worker-yvmhwia5.dirlock
dask-worker-space/worker-yvmhwia5/storage/parse-3a0aea2928bb3a33622c151ef502908e
dask-worker-space/worker-yvmhwia5/storage/parse-5df001df120759877f13f21ce2389263
dask-worker-space/worker-yvmhwia5/storage/parse-474bbbb4924f98aba1786381eb023ceb
dask-worker-space/worker-yvmhwia5/storage/parse-561af7c5f9b160942c4b29756ca81caf
data/.DS_Store
.DS_Store
dask-worker-space/worker-c2vdowa7.dirlock
data/Donations.csv
data/Donors.csv
data/Projects.csv
data/Resources.csv
data/Schools.csv
data/Teachers.csv
output/output.csv
Pictures/mexican v2.jpeg
data/Projects_1.csv
data/resources_1.csv
data/resources_v2.csv
output/output/00.part
output/output/01.part
output/output/02.part
output/output/03.part
output/output/04.part
output/output/05.part
output/output/06.part
output/output/07.part
output/output/08.part
output/output/09.part
output/output/10.part
output/output/11.part
output/output/12.part
output/output/13.part
output/output/14.part
output/output/15.part
output/output/16.part
output/output/17.part
output/output/18.part
output/output/19.part
output/output/20.part
output/output/21.part
output/output/22.part
output/output/23.part
output/output/24.part
output/output/25.part
output/output/26.part
output/output/27.part
output/output/28.part
output/output/29.part
output/output/30.part
output/output/31.part
output/output/32.part
output/output/33.part
output/output/34.part
output/output/35.part
output/output/36.part
output/output/37.part
output/output/38.part
output/output/39.part
output/output/40.part
output/output/41.part
output/output/42.part
output/output/43.part
output/output/44.part
output/output/45.part
output/output/46.part
output/output/47.part
output/output/48.part
output/output/49.part
output/output/50.part
output/output/51.part
output/output_folder/_SUCCESS
output/output_folder/._SUCCESS.crc
output/output_folder/.part-00000-3153d98f-820e-44d2-be09-8a15b1d09803-c000.csv.crc
runtimes_modin_ray.txt
runtimes_pandas.txt
runtimes_spark.txt
runtimes_dask.txt
runtimes_modin_ray_5gb.txt
runtimes_modin_ray.txt
runtimes_pandas.txt
runtimes_spark.txt
dask_results.txt
runtimes_dask.txt
runtimes_modin_ray_5gb.txt
runtimes_modin_ray.txt
runtimes_pandas.txt
runtimes_spark.txt
People Scrapping/lib/keys_and_secrets.py
People Scrapping/__pycache__/scrapper_v2.cpython-37.pyc
People Scrapping/names.txt
People Scrapping/results.txt
People Scrapping/names.txt
Regexp vs Explode/data.json
Regexp vs Explode/output/app_data.parquet/_SUCCESS
Regexp vs Explode/output/app_data.parquet/._SUCCESS.crc
Regexp vs Explode/output/app_data.parquet/.part-00000-dc47b786-6be9-4e5f-9f76-0a5c27ce5ae0-c000.snappy.parquet.crc
Regexp vs Explode/output/app_data.parquet/part-00000-dc47b786-6be9-4e5f-9f76-0a5c27ce5ae0-c000.snappy.parquet
Regexp vs Explode/lib/json_generator_input.txt
Regexp vs Explode/output/app_data.parquet/.part-00000-4720d0cb-d7d8-4021-9125-88c964dcb706-c000.snappy.parquet.crc
Regexp vs Explode/output/app_data.parquet/part-00000-4720d0cb-d7d8-4021-9125-88c964dcb706-c000.snappy.parquet
mongoDB_spark/data/._SUCCESS.crc
mongoDB_spark/data/.part-00000-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00001-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00002-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00003-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00004-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00005-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00006-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00007-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00008-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00009-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00010-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00011-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00012-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00013-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00014-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00015-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00016-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00017-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00018-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00019-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00020-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00021-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00022-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00023-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00024-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00025-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00026-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00027-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00028-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00029-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00030-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00031-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00032-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00033-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00034-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00035-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00036-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00037-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00038-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00039-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00040-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00041-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00042-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00043-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00044-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00045-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00046-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00047-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00048-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00049-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00050-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00051-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00052-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00053-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00054-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00055-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00056-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00057-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00058-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00059-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00060-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00061-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00062-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00063-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00064-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
mongoDB_spark/data/.part-00065-2e9b27e4-8550-4f16-9321-a6d20b3ae4f9-c000.snappy.parquet.crc
